.container, .header .header__inner, footer, .hero .content, .work-images {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .animated.infinite {
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp; }

.m-scene .scene_element {
  -webkit-animation-duration: 0.25s;
          animation-duration: 0.25s;
  transition-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.m-scene .scene_element--fadein {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn; }

.m-scene.is-exiting .scene_element {
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse; }

@font-face {
  font-family: 'Entypo';
  src: url("/assets/fonts/entypo.eot?uc1od7");
  src: url("/assets/fonts/entypo.eot?uc1od7#iefix") format("embedded-opentype"), url("/assets/fonts/entypo.ttf?uc1od7") format("truetype"), url("/assets/fonts/entypo.woff?uc1od7") format("woff"), url("/assets/fonts/entypo.svg?uc1od7#entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'Entypo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-chevron-down:before {
  content: "\e900"; }

.icon-chevron-left:before {
  content: "\e901"; }

.icon-chevron-right:before {
  content: "\e902"; }

.icon-bar-graph:before {
  content: "\e903"; }

.icon-brush:before {
  content: "\e904"; }

.icon-bucket:before {
  content: "\e905"; }

.icon-calendar:before {
  content: "\e906"; }

.icon-camera:before {
  content: "\e907"; }

.icon-chat:before {
  content: "\e908"; }

.icon-check:before {
  content: "\e909"; }

.icon-code:before {
  content: "\e90a"; }

.icon-colours:before {
  content: "\e90b"; }

.icon-drop:before {
  content: "\e90c"; }

.icon-edit:before {
  content: "\e90d"; }

.icon-emoji-happy:before {
  content: "\e90e"; }

.icon-emoji-sad:before {
  content: "\e90f"; }

.icon-gauge:before {
  content: "\e910"; }

.icon-heart-outlined:before {
  content: "\e911"; }

.icon-heart:before {
  content: "\e912"; }

.icon-help:before {
  content: "\e913"; }

.icon-image-inverted:before {
  content: "\e914"; }

.icon-image:before {
  content: "\e915"; }

.icon-images:before {
  content: "\e916"; }

.icon-info-with-circle:before {
  content: "\e917"; }

.icon-info:before {
  content: "\e918"; }

.icon-lab-flask:before {
  content: "\e919"; }

.icon-laptop:before {
  content: "\e91a"; }

.icon-lifebuoy:before {
  content: "\e91b"; }

.icon-light-bulb:before {
  content: "\e91c"; }

.icon-map:before {
  content: "\e91d"; }

.icon-pencil:before {
  content: "\e91e"; }

.icon-pie-chart:before {
  content: "\e91f"; }

.icon-rocket:before {
  content: "\e920"; }

.icon-round-brush:before {
  content: "\e921"; }

.icon-shopping-cart:before {
  content: "\e922"; }

.icon-time-slot:before {
  content: "\e923"; }

.icon-behance:before {
  content: "\e924"; }

.icon-skype:before {
  content: "\e925"; }

.icon-spotify:before {
  content: "\e926"; }

.icon-dribbble:before {
  content: "\e927"; }

.icon-github:before {
  content: "\e928"; }

.icon-instagram:before {
  content: "\e929"; }

.icon-lastfm:before {
  content: "\e92a"; }

.icon-linkedin:before {
  content: "\e92b"; }

.icon-twitter:before {
  content: "\e92c"; }

.icon-youtube:before {
  content: "\e92d"; }

pre, code {
  font-family: monospace !important; }

code {
  background: #232323;
  color: #e6e1dc;
  font-size: inherit;
  padding: 3px; }

/*
Railscasts-like style (c) Visoft, Inc. (Damien White)
*/
.hljs {
  display: block;
  overflow-x: auto;
  font-size: 14px;
  padding: 1em;
  background: #232323;
  color: #e6e1dc;
  margin-bottom: 20px; }

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230; }

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261; }

.hljs-subst {
  color: #519f50; }

.hljs-tag,
.hljs-name {
  color: #e8bf6a; }

.hljs-type {
  color: #da4939; }

.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe; }

.hljs-params {
  color: #d0d0ff; }

.hljs-attribute {
  color: #cda869; }

.hljs-meta {
  color: #9b859d; }

.hljs-title,
.hljs-section {
  color: #ffc66d; }

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%; }

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%; }

.hljs-selector-class {
  color: #9b703f; }

.hljs-selector-id {
  color: #8b98ab; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.hljs-link {
  text-decoration: underline; }

.button {
  padding: 9px 16px;
  background-color: #F39B9F;
  border: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
  display: inline-block;
  transition: .3s all ease-in-out; }
  .button:hover, .button:focus {
    background-color: #1E242C;
    cursor: pointer; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale; }

body {
  font: normal normal 1.6rem/1.4 "Roboto", "Arial", "Lucida Grande", "sans-serif";
  color: #313131;
  padding-top: 120px; }
  @media (min-width: 500px) {
    body {
      padding-top: 74px; } }

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

img {
  max-width: 100%;
  height: auto; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  color: #121212; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", "Arial", "Lucida Grande", "sans-serif";
  margin: 0;
  font-weight: 600; }

h1, h2 {
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px; }

h1 {
  font-size: 3.4rem;
  margin: 0 0 40px;
  line-height: 4rem; }

h2 {
  font-size: 2.8rem;
  margin: 0 0 30px; }

h3 {
  font-size: 2.4rem;
  margin-bottom: 20px; }

h4 {
  font-size: 1.9rem;
  margin-bottom: 10px; }

h5 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #313131; }

p,
ul {
  font-size: 1.8rem;
  line-height: 1.7;
  margin: 0 0 20px; }
  @media (min-width: 968px) {
    p,
    ul {
      font-size: 2rem;
      line-height: 1.8; } }

ul li {
  margin-bottom: 6px; }

ul.unlisted {
  margin-left: 0;
  padding-left: 0;
  list-style: none; }

small {
  font-size: 1.3rem; }

a {
  text-decoration: none;
  color: #F39B9F;
  transition: .3s all ease-in-out; }

b, strong {
  font-weight: 600; }

em {
  font-style: italic; }

sup {
  vertical-align: super;
  font-size: 1.2rem;
  color: red; }

.text-center {
  text-align: center; }

blockquote {
  padding-left: 40px;
  opacity: .7;
  border-left: 5px solid #eee;
  font-style: italic; }

.container {
  padding: 0 15px; }
  @media (min-width: 768px) {
    .container {
      margin-top: 60px;
      margin-bottom: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .container .content {
    width: 100%;
    max-width: 768px; }
  .container .sidebar {
    margin-top: 30px; }
    @media (min-width: 420px) {
      .container .sidebar > div {
        float: left;
        width: 48.5%; } }
    @media (min-width: 768px) {
      .container .sidebar {
        width: 180px;
        margin-left: 30px;
        margin-top: 0; }
        .container .sidebar > div {
          float: none;
          width: 100%; } }
    @media (min-width: 1000px) {
      .container .sidebar {
        width: 220px; } }

.header {
  padding: 20px 0;
  background-color: #121212;
  height: 95px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20; }
  @media (min-width: 500px) {
    .header {
      height: 64px; } }
  .header .header__inner {
    padding: 0 15px; }
    @media (min-width: 500px) {
      .header .header__inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  .header a, .header a:visited {
    color: #ffffff; }

.logo {
  margin: 3px 0 0; }
  @media (min-width: 500px) {
    .logo {
      width: 35%; } }
  .logo h1 {
    margin: 0;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px; }

@media (min-width: 500px) {
  .navigation {
    width: 65%;
    text-align: right; } }

.navigation ul {
  list-style: none;
  margin: 10px -10px 0;
  line-height: 1.2; }
  @media (min-width: 500px) {
    .navigation ul {
      margin: 0; } }
  .navigation ul li {
    display: inline-block;
    margin: 0 10px;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2rem;
    text-transform: uppercase; }
    @media (min-width: 768px) {
      .navigation ul li {
        margin: 0 0 0 50px; } }
  .navigation ul a {
    transition: .3s; }
  .navigation ul a.active,
  .navigation ul a:focus,
  .navigation ul a:hover {
    color: #F39B9F; }

.social li {
  display: inline-block;
  margin-right: 15px; }
  .social li a,
  .social li a:visited {
    color: #313131; }
  .social li a:focus,
  .social li a:hover {
    color: #F39B9F; }
  .social li .icon {
    font-size: 24px; }

.hero {
  background-color: #121212;
  position: relative; }
  .hero img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
    width: auto;
    height: 100%;
    z-index: 2; }
  .hero .content {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    padding: 0 15px; }
    @media (min-width: 768px) {
      .hero .content {
        padding: 30px 15px; } }
    .hero .content h1,
    .hero .content p {
      color: #ffffff; }
    .hero .content h1 {
      margin-bottom: 20px;
      line-height: 1.3; }

.hero--home {
  overflow: hidden;
  padding-top: 120px;
  height: 100vh;
  margin-top: -120px; }
  @media (min-width: 500px) {
    .hero--home {
      padding-top: 74px;
      height: 100vh;
      margin-top: -74px; } }
  .hero--home img {
    max-width: none; }
  .hero--home .lead-message {
    max-width: 800px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 1.3; }
    @media (min-width: 500px) {
      .hero--home .lead-message {
        margin-bottom: 30px;
        font-size: 45px;
        line-height: 1.2; } }
    @media (min-width: 800px) {
      .hero--home .lead-message {
        font-size: 70px;
        line-height: 1.2;
        margin-bottom: 40px; } }
  .hero--home .button {
    background-color: #F8A2A6;
    padding: 12px 18px; }
    @media (min-width: 800px) {
      .hero--home .button {
        font-size: 19px; } }

form {
  width: 100%; }
  form label {
    font-weight: 600;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 15px; }
  form input, form textarea, form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 15px;
    border: 1px solid #EFEFEF; }
  form textarea {
    resize: none;
    height: 210px; }

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .services h2 {
    width: 100%; }
  .services .service__block {
    display: block;
    background: #EFEFEF;
    min-height: 200px;
    margin-bottom: 30px;
    padding: 20px;
    transition: 0.3s;
    width: 100%; }
    @media (min-width: 600px) {
      .services .service__block {
        width: 48.5%;
        padding: 30px; } }
    @media (min-width: 860px) {
      .services .service__block {
        width: 31%; } }
    .services .service__block:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
    .services .service__block h4 {
      transition: 0.3s;
      margin-bottom: 15px; }
    .services .service__block .icon {
      transition: 0.3s;
      font-size: 3.6rem; }
  .services .text-center {
    width: 100%; }

.career__date {
  font-size: 1.6rem;
  font-style: italic; }

.career__role {
  font-weight: 500;
  color: #F39B9F;
  margin: -20px 0 0; }

.career__row {
  margin-top: 15px; }
  @media (min-width: 620px) {
    .career__row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (min-width: 768px) {
    .career__row {
      margin-top: 0; } }

.works {
  margin-top: 30px; }
  @media (min-width: 620px) {
    .works {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .works div {
        width: 50%; } }
  @media (min-width: 768px) {
    .works {
      margin-top: 70px; } }

@media (min-width: 768px) {
  .single-work .sidebar {
    padding-top: 78px; } }

.work-images {
  padding: 0 15px; }
  .work-images img {
    margin-bottom: 40px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }

.work__list li, .work__list a {
  color: #313131; }

.work__list span a,
.work__list a:hover,
.work__list a:focus {
  color: #F39B9F; }

.posts {
  width: 100%;
  display: block; }
  .posts .post__item {
    margin-bottom: 30px; }
    @media (min-width: 678px) {
      .posts .post__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row; } }
  .posts .post__date {
    font-weight: bold; }
    @media (min-width: 678px) {
      .posts .post__date {
        width: 120px;
        line-height: 1.2; } }
  .posts h3 {
    margin: 0;
    padding: 0;
    line-height: 1; }
    @media (min-width: 678px) {
      .posts h3 {
        max-width: calc(100% - 120px); } }

.entry {
  max-width: 768px;
  width: 100%; }
  @media (min-width: 768px) {
    .entry {
      width: calc(100% - 220px); } }
  @media (min-width: 1000px) {
    .entry {
      width: calc(100% - 250px); } }

.container--single {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.entry__title {
  width: 100%; }

.entry-feature-image {
  margin-top: -25px;
  margin-bottom: 30px; }
/*# sourceMappingURL=main.css.map */