$max-width-outer: 1100px;
$max-width-inner: 860px;

$font-family: 'Roboto', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
$font-family-header: $font-family;

$color: ( 
	white: #ffffff, 
	font: #747982,
	link: #77DD77,
	element: #1E242C 
);
