	<div class="footer">
		<p><small>&copy; Jack Whiting, 2016+</small></p>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
	<script>
		WebFont.load({
			google: {
		  		families: ['Lora', 'Open Sans']
			}
		});
	</script>

	<script>
  		!function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
  		arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
  		d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
  		insertBefore(d,q)}(window,document,'script','_gs');

  		_gs('GSN-707829-I');
	</script>

</body>
</html>