	</main>

    {% if page.url != '/' %}
	<footer class="container">
		<p><small>&copy; Jack Whiting, 2016+</small></p>
	</footer>
	{% endif %}
	
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
	<script>
		WebFont.load({
			google: {
		  		families: ['Roboto:400,400i,500,700']
			}
		});
	</script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/jquery.smoothstate.js"></script>
	<script src="{{ site.baseurl }}/js/jquery.main.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-86105963-1', 'auto');
	  ga('send', 'pageview');
	</script>

</body>
</html>
