	</main>


	<footer class="container">
        <p><small><a href="mailto:hi@jackwhiting.co.uk?subject=Hi Jack" title="Get In Touch / Contact">I am available for Freelance. Why not contact me?</a><br>
		Jack Whiting - &copy; 2017+</small></p>
	</footer>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
	<script>
		WebFont.load({
			google: {
		  		families: ['Roboto:400,400i,600,700']
			}
		});
	</script>
	<script src="{{ site.baseurl }}/js/main.min.js"></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-22879720-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-86105963-1');
	</script>

</body>
</html>
