.about {
    h1,
    p {
        max-width: $max-width-inner;
    }
}

.services {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    h2 {
        width: 100%;
    }
    .service__block {
        display: block;
        background: color(panel);
        min-height: 200px;
        margin-bottom: 30px;
        padding: 20px;
        transition: 0.3s;
		width: 100%;

		@media(min-width: 600px) {
			width: 48.5%;
			padding: 30px;
		}

		@media (min-width: 860px) {
	        width: 31%;		
		}

        &:hover {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        }
        h4 {
            transition: 0.3s;
            margin-bottom: 15px;
        }
        .icon {
            transition: 0.3s;
            font-size: 3.6rem;
        }
    }
    .text-center {
        width: 100%;
    }
}