.about {
	h1, p {
		max-width: $max-width-inner;
	}
}

.services {
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;

	h2 {
		width: 100%;
	}

	.service__block {
		display: block;
		width: 31%;
		background: #eee;
		min-height: 200px;
		margin-bottom: 30px;
		padding: 30px;
		transition: 0.3s;

		&:hover {
			box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		}

		h4 {
			transition: 0.3s;			
			margin-bottom: 15px;
		}

		.icon {
			transition: 0.3s;			
			font-size: 3.6rem;
		}
	}
}