.posts {
	width: 100%;
	display: block;

	.post__item {

		@media(min-width: 678px) {
			display: flex;
			flex-flow: row;
		}
		margin-bottom: 30px;
	}

	.post__date {
		font-weight: bold;

		@media(min-width: 678px) {
			width: 120px;
		}		
	}

	h3 {
		margin: 0;
		padding: 0;
		line-height: 1;

		@media(min-width: 678px) {
			max-width: calc(100% - 120px);
		}
	}
}

.entry__wrapper {
	max-width: 768px;
}

.container--single {
	flex-flow: row wrap;
}

.entry__title {
	width: 100%;
}