.posts {
	width: 100%;
	display: block;

	.post__item {
        margin-bottom: 30px;

		@media(min-width: 678px) {
			display: flex;
			flex-flow: row;
		}
	}

	.post__date {
		font-weight: bold;

		@media(min-width: 678px) {
			width: 120px;
            line-height: 1.2;
		}
	}

	h3 {
		margin: 0;
		padding: 0;
		line-height: 1;

		@media(min-width: 678px) {
			max-width: calc(100% - 120px);
		}
	}
}

.entry {
	max-width: 768px;
	width: 100%;

	@media (min-width: 768px) {
		width: calc(100% - 220px);
	}

	@media (min-width: 1000px) {
		width: calc(100% - 250px);
	}
}

.container--single {
	flex-flow: row wrap;
}

.entry__title {
	width: 100%;
}

.entry-feature-image {
	margin-top: -25px;
	margin-bottom: 30px;
}
