.container--home {
	position: relative;

	&:after {
		clear: both;
		content: '';
		display: table;
	}

	@media (min-width: 768px) {
		justify-content: space-between;
		display: flex;
	}


	img {
		width: 100%;
		height: auto;
	}
}

.content--about {
	width: 100%;

	@media (min-width: 768px) {
		width: 70%;
		padding-right: 40px;
	}

	.first {
		font-size: 2rem;
		margin-top: 10px;
	}
}

.content--actions {
	width: 100%;

	@media (min-width: 768px) {
		width: 30%;
		padding-left: 30px;
	}
}

.col-set-2 {
	margin-top: 30px;

	&:after {
		display: table;
		content: '';
		clear: both;
	}

	.col-1,
	.col-2 {
		width: 100%;

		@media (min-width: 480px) and (max-width: 768px) {
			width: 50%;
			float: left;
		}
	}

	@media (min-width: 480px) and (max-width: 768px) {
		.col-1 {
			padding-right: 15px;
		}

		.col-2 {
			padding-left: 15px;
		}
	}
}