.cbox {
    margin-bottom: 20px;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
}

.cbox__title {
    @media (min-width: 768px) {
        width: 280px;
    }

    line-height: 1.3;

    h3 {
        font-weight: 400;
        font-size: 1.8rem;
    }

    p {
        margin-bottom: 5px;
    }
}

.cbox__content {
    width: 100%;
    margin-bottom: 10px;
}
