.career__date {
    font-size: 1.6rem;
    font-style: italic;
}

.career__role {
    font-weight: 500;
    color: color(link);
    margin: -20px 0 0;
}

.career__box {
    @media(min-width: 560px) {
        // width: 32%;
    }
}

.career__row {
  margin-top: 15px;

  @media (min-width: 620px) {
      display: flex;
      justify-content: space-between;
  }

  @media (min-width: 768px) {
     margin-top: 0;
  }
}

.works {
    margin-top: 30px;

    @media (min-width: 620px) {
        display: flex;
        justify-content: flex-start;

        div {
            width: 50%;
        }
    }

    @media (min-width: 768px) {
        margin-top: 70px;
    }


}

.single-work {
	.sidebar {
		@media(min-width: 768px) {
			padding-top: 78px;
		}
	}
}

.work-images {
	@extend %container;
	padding: 0 15px;

	img {
		margin-bottom: 40px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.15);
	}
}

.work__list {
    li, a {
        color: color(font);
    }
    span a,
    a:hover,
    a:focus {
        color: color(link);
    }
}
