.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: color(element);
    z-index: 1001;
    display: none;

    &.active {
        display: block;

        .loader-content {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }

        .spinner {
            width: 49px;
            height: 49px;
            border-radius: 50%;
            margin: 3em;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            background-color: rgb(255, 255, 255);
            animation: spinner 1.15s infinite linear;
        }

        .spinner:before,
        .spinner:after {
            animation: 1.15s infinite ease-in-out;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            content: "";
        }

        .name {
            color: #1E242C;
            font-size: 24px;
            font-weight: bold;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
        border-radius: 50%;
    }
    50% {
        transform: rotate(90deg);
        border-radius: 0%;
    }
    100% {
        transform: rotate(180deg);
        border-radius: 50%;
    }
}
