{% include header.html %}

<div class="container container--intro">
	<div class="content">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>
</div>

<div class="container services">
	<h2>Services</h2>

	<div class="service__block">
		<p><i class="icon icon-chat"></i></p>
		<h4>Planning &amp; Discussion</h4>
		<p>Together we will talk about your project and work out what you require from our new website. This is where we define the scope and future plans.</p>
  	</div>
	<div class="service__block">
		<p><i class="icon icon-brush"></i></p>
		<h4>Prototyping &amp; Design</h4>
		<p>Once we have the scope, I will work off of your specifications to design a bespoke site to your needs. You will be provided you with mockups along the way.</p>
  	</div>
	<div class="service__block">
		<p><i class="icon icon-code"></i></p>
		<h4>Development &amp; Coding</h4>
		<p>When you are happy with the designs, I will commence with the development. This is where we will build the pages, set up your e-commerce store, and more.</p>
  	</div>
	<div class="service__block">
		<p><i class="icon icon-rocket"></i></p>
		<h4>Launching &amp; Hosting</h4>
		<p>All of your site's files will be uploaded to your server, and your domain pointed to them, voila! Need help? I'll take the hassle away and set your hosting up for you.</p>
  	</div>
	<div class="service__block">
		<p><i class="icon icon-lifebuoy"></i></p>
		<h4>How-To Guides</h4>
		<p>Not tech savvy? No worries. I will write you some handy and easy to follow how-to guides. These will show you how to do everything with your site.</p>
  	</div>
	<div class="service__block">
		<p><i class="icon icon-heart"></i></p>
		<h4>Ongoing Maintenance</h4>
		<p>Want new features? Need some things changing later down the line? I've can help you with ongoing maintenance to make sure your site is performing well.</p>
  	</div>

	<p class="text-center"><a href="/work/" class="button">View My Work</a></p>	  
</div>

{% include footer.html %}