{% include header.html %}

	<div class="hero hero--home">
		<div class="content">
			<h1 class="fadeInUp animated">Freelance Web Designer &amp; Developer</h1>
			<p class="fadeInUp animated">Hello, my name is Jack Whiting, a 25-year-old Web Designer & Developer. Currently based in Nottingham, United Kingdom. I am <a href="{{ site.url }}/contact" title="Contact Me for Work">available for freelance consultancy</a> on Websites &amp; Web Applications.</p>
			<p class="fadeInUp animated">Why don't you take a look at <a href="/work" title="Link to view my work">my work</a>, see what <a href="/about" title="Link to view my services">services I can provide</a> you, or read my latest <a href="/blog" title="Link to view my blog">blog posts</a>.</p>
		</div>
		
		<img src="{{ site.baseurl }}/assets/images/home-cover.jpg" alt="Jack Whiting Image">
	</div>

{% include footer.html %}
