{% include header.html %}

	<div class="container container--home">

		<div class="content content--about">
			<h2>About</h2>
			<p class="first">Hello, My name is Jack Whiting.</p>
	    	<p>I am a product designer and developer based in Nottingham, United Kingdom. I take pride in building custom solutions which solve a companies problem. The majority of my time is spent between agency work, freelancing and side projects.</p>
			<p>As a developer, I pride myself on building websites which function well, have great design, simplicity and speed. I play with WordPress, Laravel and Shopify to build easily accesible websites.</p>

			
			<div class="content--works">
				<h2>Recent Works</h2>
				<ul class="unlisted works">
				{% assign works = (site.works | sort: 'date') | reverse %}
				{% for work in works limit:2 %}
					<li class="work-item">
						<div class="image">
							<a href="{{ work.url }}" title="Link to {{ work.title | escape }}"><img src="/assets/works/{{ work.thumbnail }}" alt="Thumbnail of {{ work.title }}"></a>
						</div>

						<h3><a href="{{ work.url }}" title="Link to {{ work.title | escape }}">{{ work.title | escape }}</a></h3>
						
						{% for category in work.categories %}
							<span>{{ category }}</span>
						{% endfor %}

						{{ work.excerpt }}

						<p><a href="{{ work.url }}" title="Link to {{ work.title | escape }}" class="button">View Work</a></p>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="content content--actions">
			
			<div class="col-2">
				<h4>Contact</h4>
				<ul class="unlisted">
					<li><a href="mailto:hi@jackwhiting.co.uk">hi@jackwhiting.co.uk</a></li>
				</ul>

				<h4>Online</h4>
				<ul class="unlisted">
					<li><a href="https://github.com/jackabox">GitHub</a></li>
					<li><a href="https://twitter.com/jackabox">Twitter</a></li>
					<li><a href="https://medium.com/@jackabox">Medium</a></li>
					<li><a href="http://stackoverflow.com/users/7006516/jack-whiting">Stack Overflow</a></li>
				</ul>
			</div>
		</div>
		</div>
	</div>

{% include footer.html %}