{% include header.html %}

	<div class="hero hero--home">
		<div class="content">
			<h2>Product & Web Designer</h2>
			<p>I've worked with plenty of companies over the last 10 years doing web design, UI/UX design and front-end development.</p>
			<p>While you are here take a look at <a href="#" title="Link to view my work">my work</a>, see what <a href="#" title="Link to view my services">services I can provide</a> you, or read my latest <a href="#" title="Link to view my blog">blog posts</a>.</p>
		</div>
		
		<img src="{{ site.baseurl }}/assets/images/home-cover.jpg" alt="Jack Whiting Image">
	</div>

{% include footer.html %}
