{% include header.html %}

{% include header.html %}

<div class="container container--intro">
	<div class="content">
		<h1>{{ page.title }}</h1>
		{{ content }}
	</div>
</div>

<section class="container worklist">
	<article class="entry">
    	{% if page.image.feature %}<img src="{{ site.url }}/images/{{ page.image.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style="margin-top:0;"{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}
    	
    	<div class="entry-wrapper">
			<h2 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h2>
      		
      		<div class="entry-content">
        		{{ content }}
      		</div><!-- /.entry-content -->
    	</div><!-- /.entry-wrapper -->
  	</article>
</section>

{% include footer.html %}