{% include header.html %}

{% if page.feature %}<img src="{{ site.url }}/assets/images/blog/{{ page.feature }}" class="entry-feature-image" alt="{{ page.title }}" {% if site.logo == null %}style=""{% endif %}>{% if page.image.credit %}<p class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>{% endif %}{% endif %}

<section class="container container--single">
	<h1 class="entry__title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
	<article class="entry">
		<div class="entry__wrapper">
			<div class="entry-content">
				{{ content }}
			</div>
		</div>
	</article>

	<aside class="sidebar sidebar--single">
		<div class="meta__date">
			<h5>Date</h5>
			<p>{{ page.date | date: "%b %-d, %Y" }}</p>
		</div>

		<div class="meta__categories">
			<h5>Categories</h5>
			<p>
			{% for category in page.categories %}
				<span>{{ category }}</span><br>
			{% endfor %}
			</p>
		</div>
	</aside>
</section>

{% include footer.html %}
