{% include header.html %}
	
	{% assign check = post.content | strip_newlines %}
	{% if check != nil %}
	<div class="single container">
		<div class="content">
			<div class="work-single">
				<div class="work-single__description">
					{{ content }}
				</div>

				<div class="work-single__meta">
					<div class="meta__date">
						<h4>Date:</h4>
						<p>{{ page.date | date: "%b %-d, %Y" }}</p>
					</div>

					<div class="meta__categories">
						<h4>Categories:</h4>
						<p>
						{% for category in page.categories %}
							<span>{{ category }}</span>
						{% endfor %}
						</p>
					</div>
				</div>

				{% if page.link != null %}
					<div class="work-single__link">
						<p><a href="{{ page.link }}" title="Link to {{ page.title }}" target="_blank" class="button">View Online</a></p>
					</div>
				{% endif %}
			</div>
		</div>
	</div>
	{% endif %}

	{% for image in page.images %}
		<div class="work-images container">
	    	<img src="{{ site.baseurl }}/assets/works/{{ image }}" alt="Image of {{ page.title }}">
		</div>
	{% endfor %}

{% include footer.html %}
