{% include header.html %}
	
	{% assign check = post.content | strip_newlines %}
	{% if check != nil %}
	<div class="single-work container">
		<div class="content">	
			<h1>{{ page.title }}</h1>
			{{ content }}
		</div>

		<div class="sidebar">
			<div class="meta__date">
				<h5>Date:</h5>
				<p>{{ page.date | date: "%b %-d, %Y" }}</p>
			</div>

			<div class="meta__categories">
				<h5>Categories:</h5>
				<p>
				{% for category in page.categories %}
					<span>{{ category }}</span><br>
				{% endfor %}
				</p>
			</div>
			{% if page.link != null %}
				<div class="work-single__link">
					<p><a href="{{ page.link }}" title="Link to {{ page.title }}" target="_blank" class="button">View Online</a></p>
				</div>
			{% endif %}
		</div>
	</div>
	{% endif %}

	{% for image in page.images %}
		<div class="work-images">
	    	<img src="{{ site.baseurl }}/assets/works/{{ image }}" alt="Image of {{ page.title }}">
		</div>
	{% endfor %}

{% include footer.html %}
