* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family;
    color: color(font);
}

#main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding-top: 60px;
    flex: 1 0 auto;
}