.container {
    @extend %container;
    padding: 0 15px;

    @media (min-width: 768px) {
        margin-top: 60px;
        margin-bottom: 20px;  
        display: flex;
        justify-content: space-between;
    }

    .content {
        width: 100%;
        max-width: $max-width-inner;     
    }

    .sidebar {
        margin-top: 30px;

        @media (min-width: 420px) {
            & > div {
                float: left;
                width: 48.5%;
            }
        }

        @media (min-width: 768px) {
            width: 180px;
            margin-left: 30px;
            margin-top: 0;

            & > div {
                float: none;
                width: 100%;
            }
        }

        @media (min-width: 1000px) {
            width: 220px;
        }
    }
}