.header {
    padding: 20px 0;
    background: white;

    .header__inner {
        @extend %container;
        padding: 0 15px;

        @media (min-width: 550px) {
            display: flex;
        }
    }

    a, a:visited {
        color: color('background');
    }
}

.logo {
    margin: 3px 0 0;

    @media (min-width: 550px) {
        width: 100px;
    }

    h1 {
        margin: 0;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2rem;
        text-transform: uppercase;
    }
}
