$header-height: 80px;

.header {
    padding-bottom: 20px;
    text-align: center;
    width: 100%;

    @media (min-width: 768px) {
        padding: 0;
    }
}

.header__wrap {

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }

    h1,
    li {
        font-family: $font-family;
        line-height: 1;
        @media (min-width: 768px) {
            line-height: $header-height;
        }
    }

    .logo {
        margin-bottom: 20px;
        width: 100%;
        
        @media (min-width: 768px) {
            margin-bottom: 0;
            text-align: left;
            width: 40%;
        }

        h1 {
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: 0;
            margin-bottom: 0;
            text-transform: uppercase;

            a,
            a:visited {
                display: inline-block;
                border-bottom: 5px solid #090909;
                color: #090909;
                line-height: $header-height;
            }
        }
    }

    a {
        color: black;

        &:focus,
        &:hover {
            color: color(purple);
        }
    }
}

.navigation {

    @media (min-width: 768px) {
        text-align: right;
        width: 60%;
    }

    ul {
        font-size: 1.8rem;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            font-weight: 700;
            margin: 0 10px;
            text-transform: lowercase;

    		@media (min-width: 768px) {
				margin: 0 0 0 40px;
			}
        }
    }
}

.page-title {
    padding: 115px 0;
    position: relative;
    text-align: center;
    h1,
    span {
        font-weight: 600;
        z-index: 2;
    }
    h1 {
        font-size: 3.2rem;
    }
    span {
        color: color(grey);
        display: block;
        font-size: 10rem;
        opacity: .1;
        position: absolute;
        top: 45px;
        width: 100%;
    }
}

.page-title.home {
    h1,
    p {
        margin: 0 auto;
        text-align: left;
        width: 480px;
    }
    h1 {
        font-size: 2.8rem;
        margin-bottom: 10px;
    }
    .page-title-box {
        background-color: color(purple);
        height: 235px;
        left: 50%;
        margin-left: -180px;
        margin-top: -10px;
        opacity: .2;
        position: absolute;
        width: 450px;
        z-index: -1;
    }
}


.hero {
    background-color: #090909;
    margin-bottom: 60px;
    padding: 30px;
    position: relative;

    @media (min-width: 600px) {
        padding: 50px;
    }

    @media (min-width: 820px) {
        padding: 80px;
    }
    
    &--home {
        height: calc(100vh - 145px);
        min-height: 420px;

        .hero__text {        
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__text {
        @extend %container;
    }

    h2 {
        color: white;
        font-weight: 600;
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 16px;

        @media (min-width: 768px) {
            font-size: 5rem;
        }
    }

    p {
        color: white;
        margin-bottom: 0;
        @media (min-width: 768px) {
            font-size: 2rem;
        }
    }

    h1, p {
        max-width: 768px;
    }
}
