.hero {
	position: relative;

	.content {
		padding: 0 15px;
		@extend %container;

        @media (min-width: 768px) {
			padding: 60px 15px 50px;
		}
	}
}

.lead-message {
	margin-bottom: 20px;

    p {
        font-size: 1.9rem;
        line-height: 1.7;

        @media (min-width: 600px) {
            font-size: 2.2rem;
            line-height: 1.8;
        }
    }
}

.hero .button {
	padding: 12px 18px;

	@media(min-width: 800px) {
		font-size: 19px;
	}
}
