.hero {
	background: #1F232C;
    margin-top: -60px;
    position: relative;

    &.hero--home {
        overflow: hidden;
        height: 450px;
        height: calc(100vh - 110px);
        
        @media(min-width: 500px) {
            height: calc(100vh - 64px);
        }
    }

    img {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-40%);
        width: auto;
        max-width: none;
        height: 100%;
        z-index: 2;
    }

    .content {
        z-index: 4;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		padding: 0 10px;
		@extend %container;
        
        @media (min-width: 768px) {
            padding: 30px 0;
		}

		h2, p {
			color:color(white);
			max-width: 420px;
		}

		h2 {
			margin-bottom: 20px;
		}
    }
}