h1,
h2,
h3,
h4,
h5 {
	font-weight: 300;
	color: color('header');
}

h1,
h2,
h3,
h4,
h5 {
	font-family: $font-family-header;
	margin: 0;
	font-weight: 600;
}

h1, h2 {
	padding: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h1 {
	font-size: 3.4rem;
	margin: 0 0 40px;
	line-height: 4rem;
}

h2 {
	font-size: 2.8rem;
	margin: 0 0 30px;
}

h3 {
	font-size: 2.4rem;
	margin-bottom: 20px;
}

h4 {
	font-size: 1.9rem;
	margin-bottom: 10px;
}

h5 {
	font-size: 1.6rem;
	margin-bottom: 10px;
	color: color(font);
}

p,
ul {
	font-size: 1.8rem;
	line-height: 1.7;
	margin: 0 0 20px;

	@media (min-width: 968px) {
		font-size: 2rem;
		line-height: 1.8;
	}
}

ul li {
	margin-bottom: 6px;
}

ul.unlisted {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

small {
	font-size: 1.3rem;
}

a {
	text-decoration: none;
	color: color(link);
	transition: .3s all ease-in-out;
}

b, strong {
	font-weight: 600;
}

em {
	font-style: italic;
}

sup {
	vertical-align: super;
    font-size: 1.2rem;
	color: red;
}

.text-center {
	text-align: center;
}
